.Favourites {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    padding: 20px;
}

.Favourites__container {
    width: 100%;
    height: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    gap: 80px;
    place-content: center;
}