.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  min-height: 100vh; 
  background-color: #f0f2f5;
}

.header {
  display: flex;
  align-items: center;
  width: 100%; 
  max-width: 1200px; 
  margin-bottom: 20px;
  padding: 0 20px;
  justify-content: space-between; 
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.intro-image-container {
  display: flex;
  align-items: center;
  flex-direction: column; /* Asegura que el texto esté debajo de la imagen */
}

.intro-image {
  width: 120px;
  height: 120px;
  animation: pulse 1.5s infinite;
}

.intro-text2 {
  font-size: large;
  background-image: url('../assets/intro.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  min-width: 931px; 
  min-height: 405px; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: bottom; 
  color: #fea400; 
  text-shadow: 2px 2px 4px black; /* Agrega un bordeado blanco */
}

.welcome-image {
  width: 800px;
  height: auto;
  margin-bottom: 20px;
}

.features {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 10px; 
  margin-bottom: 20px;
}

.feature-box {
  width: 180px;
  height: 150px; 
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.feature-box img {
  max-width: 100px; 
  height: auto;
  margin-bottom: 10px; 
}

.feature-box p {
  font-size: 0.9rem; 
  color: #333; 
  text-align: center; 
}

.feature-box:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.start-button {
  display: inline-flex; 
  align-items: center;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.start-button .arrow {
  margin-left: 10px; 
  font-size: 1.2rem; 
  display: inline-block;
  transition: transform 0.3s ease-in-out; 
}

.start-button:hover {
  background-color: #0056b3; 
  transform: translateX(10px); 
}

.start-button:hover .arrow {
  transform: translateX(5px); 
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Media Queries para responsividad */

@media (max-width: 768px) {
  .header {
    flex-direction: column; 
    align-items: center; 
  }

  .logo {
    font-size: 1.5rem;
    margin-bottom: 10px; 
  }

  .intro-image {
    width: 100px;
    height: 100px;
  }

  .intro-text2 {
    font-size: 1rem;
    min-width: 100%; 
    min-height: auto; 
    padding: 10px;
    background-size: contain; 
  }

  .welcome-image {
    width: 100%;
    height: auto;
  }

  .feature-box {
    width: 100%; 
    height: auto; 
    max-width: none;
    margin-bottom: 10px;
  }

  .start-button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  .start-button .arrow {
    font-size: 1rem;
  }
}
