.Pagination {
    width: 100%;
    max-width: 690px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Pagination__pages {
    width: 80%;
    padding: 4px;
    display: flex;
    gap: 4px;
    justify-content: center;
}

.Pages__item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background-color: transparent;
}
.Pages__item > p {
    padding-right: 2px;
    padding-bottom: 2px;
}
.active {
    background-color: var(--secondary-color);
}

.Pagination__control {
    width: 24px;
    height: 24px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.Pagination__control[disabled] {
    opacity: .4;
}

.Pagination__control img {
    width: 100%;
    height: 100%;
    padding: 4px;
}

@media (min-width: 900px) {
    .Pagination__control,
    .Pages__item
    {
        cursor: pointer;
    }
}